<div class="container">
  <div class="mx-auto text-center">
    <h1 class="mt-5 mb-3 extra-large-heading"><strong>About</strong></h1>
    <p class="text-center">
      DLRは設計者たちの経験や知識を投稿・共有するサイトです。<br>
      ご自身の書き込みを非公開にすることでメモ帳代わりにも活用できます。<br>
      情報は常に変化するものであり、探究することに終わりはありません。<br>
      お仕事やアウトプットの際にぜひご利用ください。
    </p>
</div>
