<%= render "layouts/error", obj:@post_comment %>
<div class="container">
  <div class="row">
    <div class="col-mg-2">
      <h4 class="font-weight-bold my-4 bg-light">コメント編集</h4>
    </div>
    <%= render 'admin/post_comments/form', post_comment: @post_comment %>
  </div>
</div>

