@use '~bootstrap/scss/bootstrap';
@use 'owl.theme.default.css';

.card-img-top {
  object-fit: cover;
  height: 200px;
}
.post-image {
  width: 100%; /* 横幅を親要素に合わせる */
  height: 200px; /* 高さを指定 */
  object-fit: cover; /* 縦横比を維持しつつ、指定したサイズに収める */
  border-radius: 8px; /* 角丸を追加したい場合 */
}

.profile-image {
  width: 100%; /* 横幅を親要素に合わせる */
  height: 200px; /* 高さを固定 */
  object-fit: cover; /* 縦横比を維持しつつ、枠に収める */
  border-radius: 8px; /* 角丸を追加したい場合 */
  overflow: hidden; /* 枠外の画像部分を隠す */
}
