/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
<<<<<<< HEAD
  .card-img-top {
  object-fit: cover;
  height: 200px;
}
.post-image {
  width: 100%; /* 横幅を親要素に合わせる */
  height: 200px; /* 高さを指定 */
  object-fit: cover; /* 縦横比を維持しつつ、指定したサイズに収める */
  border-radius: 8px; /* 角丸を追加したい場合 */
}

.profile_image {
  width: 100%; /* 横幅を親要素に合わせる */
  height: 400px; /* 高さを指定 */
  object-fit: cover; /* 縦横比を維持しつつ、指定したサイズに収める */
  border-radius: 8px; /* 角丸を追加したい場合 */
}
=======
>>>>>>> develop
