<div class="row mt-5">
      <% @users.each do |user| %>
        <div class="col-md-3">
          <%= link_to user_path(user.id) do %>
            <%= image_tag item.get_image, width: 170, height: 130 %>
          <% end %>
          <div class="mb-2">
            <%= user.name %>
          </div>
        </div>
      <% end %>
      </div>
</div>